include:
  - project: 'Northern.tech/Mender/mendertesting'
    file:
      - '.gitlab-ci-check-commits.yml'
      - '.gitlab-ci-github-status-updates.yml'

stages:
  - test

.test:static:
  stage: test
  image: ubuntu:24.04
  needs: []
  before_script:
    - apt-get update && apt-get install -y git clang-format pcregrep

test:static:license:
  extends: .test:static
  script:
    - ./.github/workflows/check_headers.sh

test:static:format:
  extends: .test:static
  script:
    - ./.github/workflows/check_include_guards.sh
    - ./.github/workflows/check_equivalence_tests.sh
    - ./.github/workflows/check_code_format.sh

test:smoke-build:
  stage: test
  image: debian:12-slim
  needs: []
  before_script:
    - apt-get update && apt-get install -y git cmake libcurl4-openssl-dev
  script:
    - cmake -B build tests
      -DCONFIG_MENDER_PLATFORM_FLASH_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_LOG_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_NET_TYPE="generic/curl"
      -DCONFIG_MENDER_PLATFORM_SCHEDULER_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_STORAGE_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_TLS_TYPE="generic/mbedtls"
      -DCONFIG_MENDER_CLIENT_ADD_ON_INVENTORY=ON
      -DCONFIG_MENDER_CLIENT_ADD_ON_CONFIGURE=OFF
      -DCONFIG_MENDER_CLIENT_CONFIGURE_STORAGE=OFF
      -DCONFIG_MENDER_CLIENT_ADD_ON_TROUBLESHOOT=OFF
      -DCONFIG_MENDER_FULL_PARSE_ARTIFACT=ON
      -DCONFIG_MENDER_PROVIDES_DEPENDS=ON
    - cmake --build build --parallel $(nproc --all)
    - ./build/mender-mcu-client.elf --help

test:unit:
  stage: test
  image: debian:12-slim
  needs: []
  before_script:
    - apt-get update && apt-get install -y git cmake libcurl4-openssl-dev libcjson-dev libmbedtls-dev
  script:
    - cmake -B build tests
      -DCONFIG_MENDER_PLATFORM_FLASH_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_LOG_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_NET_TYPE="generic/curl"
      -DCONFIG_MENDER_PLATFORM_SCHEDULER_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_STORAGE_TYPE="posix"
      -DCONFIG_MENDER_PLATFORM_TLS_TYPE="generic/mbedtls"
      -DCONFIG_MENDER_CLIENT_ADD_ON_INVENTORY=ON
      -DCONFIG_MENDER_CLIENT_ADD_ON_CONFIGURE=OFF
      -DCONFIG_MENDER_CLIENT_CONFIGURE_STORAGE=OFF
      -DCONFIG_MENDER_CLIENT_ADD_ON_TROUBLESHOOT=OFF
      -DCONFIG_MENDER_FULL_PARSE_ARTIFACT=ON
      -DCONFIG_MENDER_PROVIDES_DEPENDS=ON
      -DBUILD_TESTS=ON
    - cmake --build build --parallel $(nproc --all)
    - ctest --test-dir build/tests/
