build
tests/build
tests/mocks/cjson/cjson
tests/mocks/cryptoauthlib/cryptoauthlib
tests/mocks/freertos/freertos
tests/mocks/mbedtls/mbedtls

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libmender-mcu-client.a